.form-box {
  margin: auto;
  width: 40%;
  box-shadow:5px 5px 10px;
  height: 350px;
}

.form-title {
  width: 100%;
  background-color: grey;
  text-align: center;
  height: 45px;
  margin-bottom: 20px;
}

.form-title2 {
  background-color: #4e454a;
}

.form-title p {
  font-size: 35px;
  margin: 0px;
  color: white;
}

.mail-pass {
  margin: auto;
  width: 90%;
}

.mail-pass-box {
  width: 85%;
  margin: auto;
}

.form-box2 {
  margin: auto;
  width: 40%;
  box-shadow:5px 5px 10px;
  height: auto;
  padding-bottom: 15px;
}

.ninna {
  font-size: 50px;
  text-align: center;
}

.mail-pass-input {
  margin-bottom: 5px;
}

.prof-img {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}
