// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo_view {
  max-width: 100%;
  max-height: 500px;
  margin:auto;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}

.photo-info1 {
  border-bottom: solid 1px black;
  margin-bottom: 20px;
}

.photo-info2 {
  text-align: center;
  color: #333333;
  font-size: 90%;
}

.photo-info2 table {
  margin: auto;
  width: 90%;
}

.photo-info2 table td{
  padding: 10px 0px;
}

.like-pv li {
  font-size: 200%;
}

.like-pv {
  margin-bottom: 50px;
  text-align: right;
}

.comment-index img {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 7px;
}

.comment-index table {
  width: 100%;
}

.comment-btn {
  margin-top: 5px;
}

.lb-image {
  max-width: 100%;
  max-height: 100%;
}

.lb-outerContainer {
  background-color: none;
}

.lb-nav {
  heght: auto;
}

.img-upload label {
  margin: 0px;
}

.img-upload .form-control {
  margin-bottom: 10px;
}

