// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-container {
  margin-top: 40px;
}

.myacount {
  margin: 20px 0px 40px 0px;
}

.acount-edit {
  position: relative;
}

.acount-button {
  position: absolute;
  bottom: 0;
}

.mytable table td {
  padding: 5px 10px;
}

