<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h4>PHOTOS</h4>
        <ul>
          <li>
            <a href="/photos"><p class="no-margin" style="font-size: 12px;">Popular</p></a>
          </li>
          <li>
            <p class="no-margin" style="font-size: 12px;">Latest</p>
          </li>
          <li>
            <p class="no-margin" style="font-size: 12px;">Editor's Choice</p>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h4>RENTALS</h4>
        <ul>
          <li>
            <p class="no-margin" style="font-size: 12px;">Flow</p>
          </li>
          <li>
            <p class="no-margin" style="font-size: 12px;">Price</p>
          </li>
        </ul>
      </div>
      <div class="col-2">
        <h4>RULES</h4>
        <ul>
          <li>
            <p class="no-margin" style="font-size: 12px;">Privacy</p>
          </li>
          <li>
            <p class="no-margin" style="font-size: 12px;">Terms</p>
          </li>
          <li>
            <p class="no-margin" style="font-size: 12px;">Support</p>
          </li>
        </ul>
      </div>
      <div class="col-3 offset-3">
        <div class="ninna">
          <a href="/"><h1>NINNA</h1></a>
        </div>
        <div class="social">
          <i class="fab fa-facebook-square fa-lg icon"></i>
          <i class="fab fa-twitter-square fa-lg icon"></i>
          <i class="fab fa-instagram fa-lg icon"></i>
          <i class="fab fa-pinterest-square fa-lg icon"></i>
        </div>
      </div>
    </div>
  </div>
</footer>